.section1{
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
}

.section2 {
  min-height: 100vh;
  scroll-snap-align: center;
  position: relative;
  height: 100vh;
}

/* Disable snapping on mobile */
@media (max-width: 768px) {
  .sections-container {
    scroll-snap-type: none;
  }
}